<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "icons/apple-touch-icon.png"}}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ relURL "icons/android-chrome-192x192.png"}}">
  <link rel="icon" type="image/png" sizes="512x512"  href="{{ relURL "icons/android-chrome-512x512.png"}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL "icons/favicon-32x32.png"}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL "icons/favicon-16x16.png"}}">
  <link rel="manifest" href="{{ relURL "icons/manifest.json"}}">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="{{ relURL "icons/mstile-150x150.png"}}">

  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="{{ (resources.Get "scss/fonts.scss" | resources.ExecuteAsTemplate "scss/fonts.scss" . | resources.ToCSS | resources.Minify).RelPermalink }}">
  <link rel="stylesheet" href="{{ (resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify).RelPermalink }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
