<header>
  {{ if ne "" .Site.Title }}
  <h1><a href="{{ relURL "/" }}">{{ .Site.Title }}</a></h1>
  {{ end }}

  {{ if ne "" .Site.Params.Logo }}
  <img src="{{ relURL .Site.Params.Logo }}" alt="Logo" style="margin-bottom:20px"/>
  {{ end }}

  <p>{{ .Site.Params.Description }}</p>

  <ul class="downloads">
    <li><a href="https://www.meetup.com/A2Go-Golang-developer-meetup/"><i class="fab fa-meetup" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/a2gophers"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/a2go"><i class="fab fa-github" aria-hidden="true"></i></a></li>
  </ul>
</header>
